.nav-bar{
    position: relative;
}
.nav-wrapper{
    display: flex;
    height: 5vh;
    position:absolute;
    right:50px;
}
.nav-container{
    padding:10px;
}
.dark-mode{
    border-radius: 8px;
    cursor:pointer;
}
main{
    text-align: center;
    position:absolute;
    left:50%;
    top:40%;
    transform: translate(-50%,-50%);
}
.logo-img{
    padding-bottom: 30px;
    
}
.sch-bar-wrapper{
    display: flex;
}
.sch-img{
    width: 20px;
    opacity: 0.5;
    position:absolute;
    left: -21%;
    margin: 6px;
    z-index:10;
}
.sch-bar{
    position:absolute;
    left: -22%;
    height: 30px;
    width: 590px;
    border-radius: 20px;
    background-color: white;
}
.sch-input{
    height: 28px;
    width: 500px;
    border:none;
}
.bookmark-wrapper{
    margin-top:-100px;
    display: flex;
    flex-wrap : wrap;
    position: absolute;
    top: 180%;
}
.bookmark-container{
    width:80px;
    height:80px;
    margin: 40px 10px;
    position: relative;
    align-items: center;
    text-align: center;
}
.bookmark-img{
    margin-top: 20px;
    width:40px;
    height:40px;
}
.add-bookmark-text{
    padding-top:5px;
    
}
body{
    background-color: #eaeef3;
}
.bookmark-circle{
    width: 80px;
    background-color: white;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    border:0;
    outline: 0;
}
.add-bookmark{
    color:black;
    padding-top:9px;
    font-size: 30px;
}
.darkmode-bg{
    color:white;
    background-color: rgb(40,40,40);
}
.darkmode-text{}