header{
    border:2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98vw;
    
}
.menu-wrapper{
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-left: 60px;
    text-align: center;
    justify-content: center;
}
.login-wrapper{
    display: flex;
    flex-direction: row;
    height: 40px;
    text-align: center;
    margin-right: 20px;
}
.menu-container{
    width:60px;
    border:1px solid black;
}
.login-container{
    width: 80px;
    border:1px solid black;
}

body{
    height:300vh;
    margin: 0px 10px;
    padding:0;
}